@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
body {
  background-color: #f4f6f8;
}
section {
  font-family: "Inter", sans-serif;
  padding: 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left-login {
  width: 40%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}
.top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.top h1 {
  text-align: left;
  font-size: 40px;
  color: #262f3d;
  line-height: 150%;
}

.top p {
  text-align: left;
  font-size: 16px;
  color: #a4a9b2;
  font-weight: 400;
  text-align: left;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input-tag {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input-tag label {
  font-size: 14px;
  line-height: 150%;
}

.input-tag div {
  width: 100%;
  display: flex;
  padding: 10px 14px;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgba(164, 169, 178, 0.55);
}
#email,
#password {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.input-tag div input::placeholder {
  color: #9198a3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.fr-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.btn-one {
  width: 100%;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #5429ff;
  border: 1px solid #5429ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.btn-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 40px;
  border-radius: 10px;
  border: 1px solid rgba(164, 169, 178, 0.55);
  color: #262f3d;
  font-size: 16px;
  cursor: pointer;
}

.sign-up {
  text-align: center;
  font-size: 14px;
}
.right-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5dfff;
  border-radius: 40px;
}

.right-login img {
  width: 100%;
  height: max-content;
  max-width: 660px;
}

span {
  color: #5429ff;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .left-login {
    padding: 0;
  }
}

@media screen and (max-width: 942px) {
  section {
    padding: 17px;
  }
  .top h1 {
    font-size: 30px;
  }
  #email,
  #password,
  #email::placeholder,
  #password::placeholder,
  .top p {
    font-size: 14px;
  }
  .container {
    gap: 20px;
  }
  .left-login {
    width: 100%;
    gap: 20px;
  }
  .right-login {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: auto;
    overflow: auto;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .right-login {
    display: none;
    height: auto;
  }
  .left-login {
    gap: 40px;
    width: 60%;
  }
  form {
    gap: 20px;
  }
  .logo {
    position: relative;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .left-login {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .left-login {
    width: 100%;
  }
  section{
    padding: 13px;
  }
}
